--
-- PostgreSQL database dump
--

\restrict 34olrrCYL84BZVNSmYC2evHdp6gLttNGlnFLaalkiz680gi1hJpPN6rIlnJ8NQO

-- Dumped from database version 15.16 (Debian 15.16-1.pgdg13+1)
-- Dumped by pg_dump version 15.16 (Debian 15.16-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agenda_bloqueios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.agenda_bloqueios (
    id_bloqueio integer NOT NULL,
    profissional_id integer,
    data_inicio timestamp with time zone NOT NULL,
    data_fim timestamp with time zone NOT NULL,
    motivo character varying(255),
    unidade_id integer
);


ALTER TABLE public.agenda_bloqueios OWNER TO postgres;

--
-- Name: agenda_bloqueios_id_bloqueio_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.agenda_bloqueios_id_bloqueio_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.agenda_bloqueios_id_bloqueio_seq OWNER TO postgres;

--
-- Name: agenda_bloqueios_id_bloqueio_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.agenda_bloqueios_id_bloqueio_seq OWNED BY public.agenda_bloqueios.id_bloqueio;


--
-- Name: agenda_configuracao_horario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.agenda_configuracao_horario (
    id_config_agenda integer NOT NULL,
    profissional_id integer,
    unidade_id integer,
    dia_semana integer NOT NULL,
    hora_inicio time without time zone NOT NULL,
    hora_fim time without time zone NOT NULL,
    duracao_slot_minutos integer DEFAULT 30,
    ativo boolean DEFAULT true
);


ALTER TABLE public.agenda_configuracao_horario OWNER TO postgres;

--
-- Name: agenda_configuracao_horario_id_config_agenda_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.agenda_configuracao_horario_id_config_agenda_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.agenda_configuracao_horario_id_config_agenda_seq OWNER TO postgres;

--
-- Name: agenda_configuracao_horario_id_config_agenda_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.agenda_configuracao_horario_id_config_agenda_seq OWNED BY public.agenda_configuracao_horario.id_config_agenda;


--
-- Name: ai_audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_audit_logs (
    id_log integer NOT NULL,
    session_id uuid,
    input_usuario text,
    prompt_enviado text,
    prompt_hash character varying(255),
    provider_usado character varying(255),
    output_ia text,
    veredicto_auditoria character varying(255),
    risco_detectado text,
    latency_ms integer,
    custo_estimado real,
    data_hora timestamp without time zone DEFAULT now()
);


ALTER TABLE public.ai_audit_logs OWNER TO postgres;

--
-- Name: COLUMN ai_audit_logs.provider_usado; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.ai_audit_logs.provider_usado IS 'OPENAI ou GEMINI';


--
-- Name: COLUMN ai_audit_logs.veredicto_auditoria; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.ai_audit_logs.veredicto_auditoria IS 'APROVADO ou REPROVADO';


--
-- Name: COLUMN ai_audit_logs.risco_detectado; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.ai_audit_logs.risco_detectado IS 'Explica├º├úo do Gemini caso reprove';


--
-- Name: ai_audit_logs_id_log_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ai_audit_logs_id_log_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ai_audit_logs_id_log_seq OWNER TO postgres;

--
-- Name: ai_audit_logs_id_log_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ai_audit_logs_id_log_seq OWNED BY public.ai_audit_logs.id_log;


--
-- Name: chat_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chat_sessions (
    session_id uuid DEFAULT gen_random_uuid() NOT NULL,
    paciente_telefone character varying(255) NOT NULL,
    estado_atual text DEFAULT 'TRIAGEM'::text NOT NULL,
    contexto_temporario jsonb DEFAULT '{}'::jsonb,
    aceite_lgpd boolean DEFAULT false,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chat_sessions_estado_atual_check CHECK ((estado_atual = ANY (ARRAY['TRIAGEM'::text, 'ORIENTACOES'::text, 'AGENDAMENTO'::text, 'CONFIRMACAO'::text, 'TRANSBORDO'::text])))
);


ALTER TABLE public.chat_sessions OWNER TO postgres;

--
-- Name: consultas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.consultas (
    id_consulta integer NOT NULL,
    paciente_id integer,
    profissional_id integer,
    unidade_id integer,
    id_convenio_plano integer,
    data_hora_inicio timestamp with time zone,
    data_hora_fim timestamp with time zone,
    status character varying(255) DEFAULT 'AGENDADO'::character varying,
    criado_por_usuario_id integer,
    criado_em timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp with time zone,
    id_procedimento integer,
    valor_consulta numeric(10,2) DEFAULT '0'::numeric,
    observacoes text,
    tipo_pagamento text DEFAULT 'PARTICULAR'::text,
    telemedicina boolean DEFAULT false,
    CONSTRAINT consultas_tipo_pagamento_check CHECK ((tipo_pagamento = ANY (ARRAY['PARTICULAR'::text, 'CONVENIO'::text, 'RETORNO'::text])))
);


ALTER TABLE public.consultas OWNER TO postgres;

--
-- Name: consultas_id_consulta_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.consultas_id_consulta_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.consultas_id_consulta_seq OWNER TO postgres;

--
-- Name: consultas_id_consulta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.consultas_id_consulta_seq OWNED BY public.consultas.id_consulta;


--
-- Name: convenio_planos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.convenio_planos (
    id_plano integer NOT NULL,
    convenio_id integer,
    nome_plano character varying(255) NOT NULL,
    ativo boolean DEFAULT true,
    atualizado_em timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.convenio_planos OWNER TO postgres;

--
-- Name: convenio_planos_id_plano_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.convenio_planos_id_plano_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.convenio_planos_id_plano_seq OWNER TO postgres;

--
-- Name: convenio_planos_id_plano_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.convenio_planos_id_plano_seq OWNED BY public.convenio_planos.id_plano;


--
-- Name: convenios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.convenios (
    id_convenio integer NOT NULL,
    nome character varying(255) NOT NULL,
    registro_ans character varying(255),
    ativo boolean DEFAULT true,
    atualizado_em timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.convenios OWNER TO postgres;

--
-- Name: convenios_id_convenio_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.convenios_id_convenio_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.convenios_id_convenio_seq OWNER TO postgres;

--
-- Name: convenios_id_convenio_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.convenios_id_convenio_seq OWNED BY public.convenios.id_convenio;


--
-- Name: fila_espera; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fila_espera (
    id_fila integer NOT NULL,
    unidade_id integer NOT NULL,
    paciente_id integer NOT NULL,
    profissional_id integer,
    preferencia_turno text DEFAULT 'QUALQUER'::text,
    prioridade_clinica boolean DEFAULT false,
    status character varying(255) DEFAULT 'AGUARDANDO'::character varying,
    solicitado_em timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fila_espera_preferencia_turno_check CHECK ((preferencia_turno = ANY (ARRAY['MANHA'::text, 'TARDE'::text, 'NOITE'::text, 'QUALQUER'::text])))
);


ALTER TABLE public.fila_espera OWNER TO postgres;

--
-- Name: fila_espera_id_fila_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fila_espera_id_fila_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.fila_espera_id_fila_seq OWNER TO postgres;

--
-- Name: fila_espera_id_fila_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fila_espera_id_fila_seq OWNED BY public.fila_espera.id_fila;


--
-- Name: knex_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.knex_migrations (
    id integer NOT NULL,
    name character varying(255),
    batch integer,
    migration_time timestamp with time zone
);


ALTER TABLE public.knex_migrations OWNER TO postgres;

--
-- Name: knex_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.knex_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.knex_migrations_id_seq OWNER TO postgres;

--
-- Name: knex_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.knex_migrations_id_seq OWNED BY public.knex_migrations.id;


--
-- Name: knex_migrations_lock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.knex_migrations_lock (
    index integer NOT NULL,
    is_locked integer
);


ALTER TABLE public.knex_migrations_lock OWNER TO postgres;

--
-- Name: knex_migrations_lock_index_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.knex_migrations_lock_index_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.knex_migrations_lock_index_seq OWNER TO postgres;

--
-- Name: knex_migrations_lock_index_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.knex_migrations_lock_index_seq OWNED BY public.knex_migrations_lock.index;


--
-- Name: pacientes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pacientes (
    id_paciente integer NOT NULL,
    nome character varying(255) NOT NULL,
    cpf character varying(255),
    cns character varying(255),
    data_nascimento date,
    email character varying(255),
    telefone character varying(255) NOT NULL,
    cep character varying(255),
    logradouro character varying(255),
    bairro character varying(255),
    cidade character varying(255),
    uf character varying(255),
    ativo boolean DEFAULT true,
    criado_em timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp with time zone,
    nacionalidade character varying(100),
    numero character varying(20),
    atualizado_em timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.pacientes OWNER TO postgres;

--
-- Name: pacientes_id_paciente_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pacientes_id_paciente_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pacientes_id_paciente_seq OWNER TO postgres;

--
-- Name: pacientes_id_paciente_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pacientes_id_paciente_seq OWNED BY public.pacientes.id_paciente;


--
-- Name: procedimentos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.procedimentos (
    id_procedimento integer NOT NULL,
    unidade_id integer,
    nome_procedimento character varying(255) NOT NULL,
    valor numeric(8,2) DEFAULT '0'::numeric,
    duracao_minutos integer NOT NULL,
    tipo character varying(255) NOT NULL,
    ativo boolean DEFAULT true,
    deleted_at timestamp with time zone,
    codigo_sus character varying(20),
    permite_telemedicina boolean DEFAULT false,
    descricao text,
    atualizado_em timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    preparo_obrigatorio text,
    contraindicacoes text,
    pos_procedimento text,
    documentos_necessarios text
);


ALTER TABLE public.procedimentos OWNER TO postgres;

--
-- Name: COLUMN procedimentos.preparo_obrigatorio; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.procedimentos.preparo_obrigatorio IS 'Instru├º├Áes de jejum, roupas, etc.';


--
-- Name: COLUMN procedimentos.contraindicacoes; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.procedimentos.contraindicacoes IS 'Marca-passo, gravidez, alergias';


--
-- Name: COLUMN procedimentos.pos_procedimento; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.procedimentos.pos_procedimento IS 'Cuidados p├│s-exame';


--
-- Name: COLUMN procedimentos.documentos_necessarios; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.procedimentos.documentos_necessarios IS 'Pedido m├®dico, carteirinha';


--
-- Name: procedimentos_id_procedimento_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.procedimentos_id_procedimento_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.procedimentos_id_procedimento_seq OWNER TO postgres;

--
-- Name: procedimentos_id_procedimento_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.procedimentos_id_procedimento_seq OWNED BY public.procedimentos.id_procedimento;


--
-- Name: profissionais_da_saude; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profissionais_da_saude (
    id_profissional_saude integer NOT NULL,
    nome_completo character varying(255) NOT NULL,
    cpf character varying(255) NOT NULL,
    data_nascimento date,
    imagem_profissional text,
    conselho character varying(255),
    numero_conselho character varying(255),
    uf_conselho character varying(255),
    rqe character varying(255),
    telefone character varying(255),
    email character varying(255),
    especialidade character varying(255),
    permite_telemedicina boolean DEFAULT false,
    ativo boolean DEFAULT true,
    deleted_at timestamp with time zone
);


ALTER TABLE public.profissionais_da_saude OWNER TO postgres;

--
-- Name: profissionais_da_saude_id_profissional_saude_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.profissionais_da_saude_id_profissional_saude_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.profissionais_da_saude_id_profissional_saude_seq OWNER TO postgres;

--
-- Name: profissionais_da_saude_id_profissional_saude_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.profissionais_da_saude_id_profissional_saude_seq OWNED BY public.profissionais_da_saude.id_profissional_saude;


--
-- Name: profissional_unidade_vinculo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profissional_unidade_vinculo (
    profissional_id integer NOT NULL,
    unidade_id integer NOT NULL
);


ALTER TABLE public.profissional_unidade_vinculo OWNER TO postgres;

--
-- Name: unidades_atendimento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.unidades_atendimento (
    id_unidade integer NOT NULL,
    nome_fantasia character varying(255) NOT NULL,
    razao_social character varying(255),
    cnpj character varying(255),
    cnes character varying(255),
    telefone_principal character varying(255) NOT NULL,
    email_contato character varying(255),
    cep character varying(255),
    logradouro character varying(255),
    numero character varying(255),
    complemento character varying(255),
    bairro character varying(255),
    cidade character varying(255),
    uf character varying(255),
    numero_whatsapp character varying(255),
    ativo boolean DEFAULT true,
    criado_em timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    atualizado_em timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp with time zone,
    configuracoes_ia jsonb
);


ALTER TABLE public.unidades_atendimento OWNER TO postgres;

--
-- Name: unidades_atendimento_id_unidade_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.unidades_atendimento_id_unidade_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.unidades_atendimento_id_unidade_seq OWNER TO postgres;

--
-- Name: unidades_atendimento_id_unidade_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.unidades_atendimento_id_unidade_seq OWNED BY public.unidades_atendimento.id_unidade;


--
-- Name: usuarios_sistema; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios_sistema (
    id_usuario integer NOT NULL,
    nome character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    senha_hash character varying(255) NOT NULL,
    role character varying(255) DEFAULT 'RECEPCAO'::character varying,
    unidade_id integer,
    profissional_id integer,
    ativo boolean DEFAULT true,
    criado_em timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    ultimo_login timestamp with time zone,
    deleted_at timestamp with time zone
);


ALTER TABLE public.usuarios_sistema OWNER TO postgres;

--
-- Name: usuarios_sistema_id_usuario_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuarios_sistema_id_usuario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.usuarios_sistema_id_usuario_seq OWNER TO postgres;

--
-- Name: usuarios_sistema_id_usuario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuarios_sistema_id_usuario_seq OWNED BY public.usuarios_sistema.id_usuario;


--
-- Name: webhook_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.webhook_events (
    message_id character varying(255) NOT NULL,
    payload jsonb,
    recebido_em timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.webhook_events OWNER TO postgres;

--
-- Name: agenda_bloqueios id_bloqueio; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agenda_bloqueios ALTER COLUMN id_bloqueio SET DEFAULT nextval('public.agenda_bloqueios_id_bloqueio_seq'::regclass);


--
-- Name: agenda_configuracao_horario id_config_agenda; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agenda_configuracao_horario ALTER COLUMN id_config_agenda SET DEFAULT nextval('public.agenda_configuracao_horario_id_config_agenda_seq'::regclass);


--
-- Name: ai_audit_logs id_log; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_audit_logs ALTER COLUMN id_log SET DEFAULT nextval('public.ai_audit_logs_id_log_seq'::regclass);


--
-- Name: consultas id_consulta; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultas ALTER COLUMN id_consulta SET DEFAULT nextval('public.consultas_id_consulta_seq'::regclass);


--
-- Name: convenio_planos id_plano; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.convenio_planos ALTER COLUMN id_plano SET DEFAULT nextval('public.convenio_planos_id_plano_seq'::regclass);


--
-- Name: convenios id_convenio; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.convenios ALTER COLUMN id_convenio SET DEFAULT nextval('public.convenios_id_convenio_seq'::regclass);


--
-- Name: fila_espera id_fila; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fila_espera ALTER COLUMN id_fila SET DEFAULT nextval('public.fila_espera_id_fila_seq'::regclass);


--
-- Name: knex_migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knex_migrations ALTER COLUMN id SET DEFAULT nextval('public.knex_migrations_id_seq'::regclass);


--
-- Name: knex_migrations_lock index; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knex_migrations_lock ALTER COLUMN index SET DEFAULT nextval('public.knex_migrations_lock_index_seq'::regclass);


--
-- Name: pacientes id_paciente; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pacientes ALTER COLUMN id_paciente SET DEFAULT nextval('public.pacientes_id_paciente_seq'::regclass);


--
-- Name: procedimentos id_procedimento; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.procedimentos ALTER COLUMN id_procedimento SET DEFAULT nextval('public.procedimentos_id_procedimento_seq'::regclass);


--
-- Name: profissionais_da_saude id_profissional_saude; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profissionais_da_saude ALTER COLUMN id_profissional_saude SET DEFAULT nextval('public.profissionais_da_saude_id_profissional_saude_seq'::regclass);


--
-- Name: unidades_atendimento id_unidade; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unidades_atendimento ALTER COLUMN id_unidade SET DEFAULT nextval('public.unidades_atendimento_id_unidade_seq'::regclass);


--
-- Name: usuarios_sistema id_usuario; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_sistema ALTER COLUMN id_usuario SET DEFAULT nextval('public.usuarios_sistema_id_usuario_seq'::regclass);


--
-- Name: agenda_bloqueios agenda_bloqueios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agenda_bloqueios
    ADD CONSTRAINT agenda_bloqueios_pkey PRIMARY KEY (id_bloqueio);


--
-- Name: agenda_configuracao_horario agenda_configuracao_horario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agenda_configuracao_horario
    ADD CONSTRAINT agenda_configuracao_horario_pkey PRIMARY KEY (id_config_agenda);


--
-- Name: ai_audit_logs ai_audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_audit_logs
    ADD CONSTRAINT ai_audit_logs_pkey PRIMARY KEY (id_log);


--
-- Name: chat_sessions chat_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_sessions
    ADD CONSTRAINT chat_sessions_pkey PRIMARY KEY (session_id);


--
-- Name: consultas consultas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultas
    ADD CONSTRAINT consultas_pkey PRIMARY KEY (id_consulta);


--
-- Name: convenio_planos convenio_planos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.convenio_planos
    ADD CONSTRAINT convenio_planos_pkey PRIMARY KEY (id_plano);


--
-- Name: convenios convenios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.convenios
    ADD CONSTRAINT convenios_pkey PRIMARY KEY (id_convenio);


--
-- Name: fila_espera fila_espera_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fila_espera
    ADD CONSTRAINT fila_espera_pkey PRIMARY KEY (id_fila);


--
-- Name: knex_migrations_lock knex_migrations_lock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knex_migrations_lock
    ADD CONSTRAINT knex_migrations_lock_pkey PRIMARY KEY (index);


--
-- Name: knex_migrations knex_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knex_migrations
    ADD CONSTRAINT knex_migrations_pkey PRIMARY KEY (id);


--
-- Name: pacientes pacientes_cpf_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pacientes
    ADD CONSTRAINT pacientes_cpf_unique UNIQUE (cpf);


--
-- Name: pacientes pacientes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pacientes
    ADD CONSTRAINT pacientes_pkey PRIMARY KEY (id_paciente);


--
-- Name: procedimentos procedimentos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.procedimentos
    ADD CONSTRAINT procedimentos_pkey PRIMARY KEY (id_procedimento);


--
-- Name: profissionais_da_saude profissionais_da_saude_cpf_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profissionais_da_saude
    ADD CONSTRAINT profissionais_da_saude_cpf_unique UNIQUE (cpf);


--
-- Name: profissionais_da_saude profissionais_da_saude_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profissionais_da_saude
    ADD CONSTRAINT profissionais_da_saude_pkey PRIMARY KEY (id_profissional_saude);


--
-- Name: profissional_unidade_vinculo profissional_unidade_vinculo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profissional_unidade_vinculo
    ADD CONSTRAINT profissional_unidade_vinculo_pkey PRIMARY KEY (profissional_id, unidade_id);


--
-- Name: unidades_atendimento unidades_atendimento_cnpj_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unidades_atendimento
    ADD CONSTRAINT unidades_atendimento_cnpj_unique UNIQUE (cnpj);


--
-- Name: unidades_atendimento unidades_atendimento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unidades_atendimento
    ADD CONSTRAINT unidades_atendimento_pkey PRIMARY KEY (id_unidade);


--
-- Name: usuarios_sistema usuarios_sistema_email_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_sistema
    ADD CONSTRAINT usuarios_sistema_email_unique UNIQUE (email);


--
-- Name: usuarios_sistema usuarios_sistema_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_sistema
    ADD CONSTRAINT usuarios_sistema_pkey PRIMARY KEY (id_usuario);


--
-- Name: webhook_events webhook_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.webhook_events
    ADD CONSTRAINT webhook_events_pkey PRIMARY KEY (message_id);


--
-- Name: idx_chat_telefone; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_chat_telefone ON public.chat_sessions USING btree (paciente_telefone);


--
-- Name: idx_procedimentos_busca_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_procedimentos_busca_trgm ON public.procedimentos USING gin (nome_procedimento public.gin_trgm_ops);


--
-- Name: agenda_bloqueios agenda_bloqueios_profissional_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agenda_bloqueios
    ADD CONSTRAINT agenda_bloqueios_profissional_id_foreign FOREIGN KEY (profissional_id) REFERENCES public.profissionais_da_saude(id_profissional_saude);


--
-- Name: agenda_bloqueios agenda_bloqueios_unidade_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agenda_bloqueios
    ADD CONSTRAINT agenda_bloqueios_unidade_id_foreign FOREIGN KEY (unidade_id) REFERENCES public.unidades_atendimento(id_unidade) ON DELETE CASCADE;


--
-- Name: agenda_configuracao_horario agenda_configuracao_horario_profissional_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agenda_configuracao_horario
    ADD CONSTRAINT agenda_configuracao_horario_profissional_id_foreign FOREIGN KEY (profissional_id) REFERENCES public.profissionais_da_saude(id_profissional_saude);


--
-- Name: agenda_configuracao_horario agenda_configuracao_horario_unidade_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agenda_configuracao_horario
    ADD CONSTRAINT agenda_configuracao_horario_unidade_id_foreign FOREIGN KEY (unidade_id) REFERENCES public.unidades_atendimento(id_unidade);


--
-- Name: consultas consultas_criado_por_usuario_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultas
    ADD CONSTRAINT consultas_criado_por_usuario_id_foreign FOREIGN KEY (criado_por_usuario_id) REFERENCES public.usuarios_sistema(id_usuario);


--
-- Name: consultas consultas_id_convenio_plano_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultas
    ADD CONSTRAINT consultas_id_convenio_plano_foreign FOREIGN KEY (id_convenio_plano) REFERENCES public.convenio_planos(id_plano);


--
-- Name: consultas consultas_id_procedimento_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultas
    ADD CONSTRAINT consultas_id_procedimento_foreign FOREIGN KEY (id_procedimento) REFERENCES public.procedimentos(id_procedimento) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: consultas consultas_paciente_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultas
    ADD CONSTRAINT consultas_paciente_id_foreign FOREIGN KEY (paciente_id) REFERENCES public.pacientes(id_paciente);


--
-- Name: consultas consultas_profissional_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultas
    ADD CONSTRAINT consultas_profissional_id_foreign FOREIGN KEY (profissional_id) REFERENCES public.profissionais_da_saude(id_profissional_saude);


--
-- Name: consultas consultas_unidade_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.consultas
    ADD CONSTRAINT consultas_unidade_id_foreign FOREIGN KEY (unidade_id) REFERENCES public.unidades_atendimento(id_unidade);


--
-- Name: convenio_planos convenio_planos_convenio_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.convenio_planos
    ADD CONSTRAINT convenio_planos_convenio_id_foreign FOREIGN KEY (convenio_id) REFERENCES public.convenios(id_convenio);


--
-- Name: fila_espera fila_espera_paciente_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fila_espera
    ADD CONSTRAINT fila_espera_paciente_id_foreign FOREIGN KEY (paciente_id) REFERENCES public.pacientes(id_paciente) ON DELETE CASCADE;


--
-- Name: fila_espera fila_espera_profissional_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fila_espera
    ADD CONSTRAINT fila_espera_profissional_id_foreign FOREIGN KEY (profissional_id) REFERENCES public.profissionais_da_saude(id_profissional_saude) ON DELETE SET NULL;


--
-- Name: fila_espera fila_espera_unidade_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fila_espera
    ADD CONSTRAINT fila_espera_unidade_id_foreign FOREIGN KEY (unidade_id) REFERENCES public.unidades_atendimento(id_unidade) ON DELETE CASCADE;


--
-- Name: procedimentos procedimentos_unidade_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.procedimentos
    ADD CONSTRAINT procedimentos_unidade_id_foreign FOREIGN KEY (unidade_id) REFERENCES public.unidades_atendimento(id_unidade);


--
-- Name: profissional_unidade_vinculo profissional_unidade_vinculo_profissional_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profissional_unidade_vinculo
    ADD CONSTRAINT profissional_unidade_vinculo_profissional_id_foreign FOREIGN KEY (profissional_id) REFERENCES public.profissionais_da_saude(id_profissional_saude);


--
-- Name: profissional_unidade_vinculo profissional_unidade_vinculo_unidade_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profissional_unidade_vinculo
    ADD CONSTRAINT profissional_unidade_vinculo_unidade_id_foreign FOREIGN KEY (unidade_id) REFERENCES public.unidades_atendimento(id_unidade);


--
-- Name: usuarios_sistema usuarios_sistema_profissional_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_sistema
    ADD CONSTRAINT usuarios_sistema_profissional_id_foreign FOREIGN KEY (profissional_id) REFERENCES public.profissionais_da_saude(id_profissional_saude);


--
-- Name: usuarios_sistema usuarios_sistema_unidade_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios_sistema
    ADD CONSTRAINT usuarios_sistema_unidade_id_foreign FOREIGN KEY (unidade_id) REFERENCES public.unidades_atendimento(id_unidade);


--
-- PostgreSQL database dump complete
--

\unrestrict 34olrrCYL84BZVNSmYC2evHdp6gLttNGlnFLaalkiz680gi1hJpPN6rIlnJ8NQO

